/* input */

.MuiFormControl-fullWidth {
	margin: 15px 0 !important;
}

.MuiFormHelperText-root {
	font-size: 0.875rem !important;
}

.MuiFormLabel-root {
	padding: 0 5px !important;
	background: #fff !important;
}

/* table */

.MuiTableCell-head {
	font-size: 1rem !important;
	font-weight: bold !important;
}
